[mysqld]
plugin_load_add = file_key_management

file_key_management_filename = /run/secrets/mariadb_file_keys
file_key_management_encryption_algorithm = AES_CTR

innodb_encrypt_tables = ON
innodb_encrypt_log = ON
innodb_encryption_threads = 4
innodb_encryption_rotate_key_age = 1

encrypt_tmp_disk_tables = ON
encrypt_tmp_files = ON

innodb_file_per_table = ON
